# Database
POSTGRES_USER=rf_admin
POSTGRES_PASSWORD=rf_secure_pass_2026
POSTGRES_DB=rf_sor_db

# API
API_SECRET_KEY=rf_super_secret_key_change_me_now
API_DEBUG=True

# Auth (Keycloak)
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=rf-sor
KEYCLOAK_CLIENT_ID=rf-sor-backend
KEYCLOAK_CLIENT_SECRET=your_client_secret_here
